@import url('https://fonts.googleapis.com/css?family=Mali');

$azulmostoles: #1f408f;
$verdemostoles: #76aa3a;
$naranjamostoles: #e2a900;
$rojomostoles:#96151a;

header{
    width: 100%;
    background-color: lighten($naranjamostoles, 15%);
    position: fixed;
    top: 0;
    left: 0;
    #cabecera{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.5rem;
        padding-bottom: 0.8rem;
        padding-left: 0.5rem;
        padding-right: 0.8rem;
    }
    #logoCabecera{
        width: 45%;
        img {
            width: 100%;
        }
    }
    #iconoMenu{
        font-size: 9vw;
        display: flex;
        width: 55%;
        justify-content: flex-end;
        align-items: center;
    }
    .sea {
        color: $rojomostoles;
        cursor: pointer;
    }
    h1{
        color: black;
        font-size: 1.9vw;
        text-align: center;
        margin-top: -.17rem;
        font-family: 'Mali', cursive;
    }
    .cajaBuscar{
        width: 100%;
        height: 1.5rem;
        background-color: white;
    }
}
.lupa{
    color: $rojomostoles;
    font-size: 5vw;
    cursor: pointer;
    width: 10%;
    background-color: #76aa3a;
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: absolute;
    right: 0;
}

main{
    .carruselPortada{
        width: 100%;
        img{
        border-radius: 0 0 50% 50%;
            width: 100%;
        }
    }
}

#mainId{
    border:2px solid black;
    z-index: 40;
}

// Footer

footer{
    width: 100%;
    height: 5rem;
    background-color: lighten($naranjamostoles, 15%);
}

.alto{
    float: left;
    width: 100%;
    height:10px;
    margin-top: 0;
}